body{
    background-color: black;
    background-image: url(../img/barbeiro1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body *{
    color: white;
}
header,main,main+h2,h2+section,#map,h2:has(+table){
    flex-basis: 100%;
}
header{
    background-color: #0005;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>*{
    width: 200px;
}
h1{
    color:#0000;
    background-image: url(../img/hbt_logo.png);
    background-repeat: no-repeat;
    background-size: 142px 145px;
    width: 142px;
    height: 145px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
}
h2{
    text-align: center;
}
ul{
    width: 700px;
    text-align: center;
}
ul>*{
    list-style: none;
    display: inline-block;
    margin: 0 18px;
    padding: 0;
}
ul a{
    text-decoration: none;
    font-size: 20px;
}
header div{
    text-align: center;
}
:is(header,main) button{color:black}

main{
    min-height: 600px;
    text-align: center;
}
main>button{
    margin-top: 200px;
}
main+h2{
    margin: 150px 0;
}
#grid,main+h2{
    text-align: center;
}
#grid{
    margin-bottom: 200px;
}
section:has(>#flexdiv)>*{
    display: inline-block;
    
}
#flexdiv{
    display: flex;
    flex-wrap: wrap;
    width: 354px;
}
#flexdiv img:first-of-type{
    min-width: 120px;
}
#map{
    max-width: 500px;
    margin: 0 180px;
    height: 500px;
}
table{
    border-collapse: collapse;
    margin: 0 20px;
}
td{
    padding: 7px;
    border-bottom: 2px solid #0cf;
}
table td:first-of-type{
    width: 150px;
}
table td:nth-of-type(2){
    color: #0cf;
}